.Header{
	width: 100%;
	height:100px;
	margin: 5px
}

div{
	border:dotted;
}


.Titulo {
	color: black;
	text-align: center; 
	font-style: normal;
	font-family: Helvetica;
	padding: 20px;
	padding-bottom: 7px
}

.espacio{
	padding-top: 20px;
	padding-left:5px;
	width: 100%;
	height: 100px;
}

.mapa{
	width:90%;
	height:350px;
	padding:5px;
	position: relative;
	top:20px;
	left:30px;
}

.PanelMapa{
	padding-top: 7px;
	background-color: #F6E3CE;
	width: 50%;
	height: 470px;
	top:252px;
}

.Info{
	position: absolute;
	top:252px;
	left:650px;
	padding: 15px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: ridge;
	border-bottom-style: ridge; 
	border-width: 3px;
	width:45%;
	height: 470px
}
.Info h1{
	padding: 7px;
}

.Info h2{
	padding: 7px;
	font-style: italic;
}
.Info h3{
	padding: 7px;	
}

.Info h4{
	padding: 7px;
}

.Info select{}

.busqueda{
	position: relative;
	left:500px;
	width: 500px;
}