.Info{
	position: absolute;
	padding: 15px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: ridge;
	border-bottom-style: ridge; 
	border-width: 3px;
	width:45%;
	height: 470px
}
.Info h1{
	padding: 7px;
}

.Info h2{
	padding: 7px;
	font-style: italic;
}
.Info h3{
	padding: 7px;	
}

.Info h4{
	padding: 7px;
	font-style: italic;
}