.Info{
	float:left;
	padding: 15px;
	width:50%;
	height:345px;
}
.Info h1{
	padding: 7px;
}

.Info h2{
	padding: 7px;
	font-style: italic;
}
.Info h3{
	padding: 7px;	
}

.Info h4{
	padding: 7px;
	font-style: italic;
}

.fotos{
	overflow: hidden;
	width: 50%;
	float: right;
	height:345px;
}

.comentario{
	width: 50%;
	margin:auto;
	height: 100px;
	overflow: hidden;
}