.Info{
	float:left;
	padding: 15px;
	width:50%;
}
.Info h1{
	padding: 7px;
}

.Info h2{
	padding: 7px;
	font-style: italic;
}
.Info h3{
	padding: 7px;	
}

.Info h4{
	padding: 7px;
	font-style: italic;
}

.fotos{
	width: 50%;
	float: right;
}