body{
	background-image: url(https://uns-iaw-2018-com09.github.io/ProyectoIAW/Imagenes/Fondo-pagina.jpg);
}

.mapa{
	width:90%;
	height:350px;
	padding:5px;
	position: relative;
	top:20px;
	margin:auto;
}

.PanelMapa{
	padding-top: 7px;
	margin-left:13%;
	margin-right:13%;
	background-color: #F6E3CE;
	width: 74%;
	height: 470px;
	text-align: center;
}

.Info{
	margin-left:13%;
	margin-right:13%;
	margin-top: 15px;
	width:74%;
	background-color: #F6E3CE;
	height: 470px;
	text-align: center;
}
.Info h1{
	padding: 7px;
}

.Info h2{
	padding: 7px;
	font-style: italic;
}
.Info h3{
	padding: 7px;
	font-family: 'Raleway',sans-serif;
}

.Info select{}

.link{
	color:blue;
}

.link:hover{
	color:red;
}

.iconos{
	text-align: center;
	width: 40%;
	margin-left: 5%;
	background-color: #F6E3CE;
	overflow: hidden;
	font-family: 'Raleway',sans-serif;
	font-size: 13px;
}

.iconos h4{
	font-size: 17px;
}

.Info h4{
	padding: 7px;
	font-style: italic;
	font-family: 'Raleway',sans-serif;
}


.clasif{
	float: left;
	margin-left:15px;
	margin-top: 12px;
}

.boton{
	float: right;
	margin-right:15px;
	margin-top: 7px;
}


.modal-comentarios{
	font-family: "Arial",sans-serif;
}
