<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>README</title>
  </head>
  <body>
    <h1>Readme GiraBahiense</h1>
    <h2>Alumnos: Dimatz, Juan y Jouglard, Juan</h2>
    <p>
      Como servicio web, aparte de google maps, utilizamos el servicio google places para obtener fotos de los locales cargados
      en la pagina. Teniamos pensado utilizar el servicio google plus para obtener informacion de los usuarios que realizaban comentarios
      acerca de los locales, pero tuvimos algunos problemas con la autorizacion para enviar mensajes al servicio.
    </p>
  </body>
</html>
